{% extends "layout/default.html.twig" %}

{% block title %}Page Catégorie
{% endblock %}

{% block header %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('{{asset('assets/img/contact-bg.jpg')}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Categories</h1>
						<span class="subheading">Category...</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}

	{% for post in posts %}

		<h3>{{post.category.name}}</h3>

		<div class="categorie">
			<p>{{post.Titre}}</p>
			<p>{{post.Description}}</p>
			<p>{{post.Contenu}}</p>
		</div>
	{% endfor %}


{% endblock %}
