{% extends "layout/default.html.twig" %}

{% block title %}Page Catégorie
{% endblock %}

{% block header %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('{{asset('assets/img/contact-bg.jpg')}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Categories</h1>
						<span class="subheading title-category">{{category.name}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}

	{% for post in posts %}

		<div class="post-preview category">

			<a href="/post/{{post.id}}">
				<h2 class="post-title">{{post.Titre}}</h2>
				<h3 class="post-subtitle">{{post.Description|raw}}</h3>
			</a>

			<p class="post-meta">
				Posted by
				<a href="#!">Start Bootstrap</a>
				on
				{{post.CreatedAt|date("m/d/Y")}}
			</p>
				 <a class="post-category type-category" href="/category/{{post.category.id}}">{{post.category.name}}</a>

			 <hr class="my-4" />
		</div>

		

	{% endfor %}

{% endblock %}
